<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Socket</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%-include('partials/header.ejs') %>
    <div id="nav1">
      <p id="msg-user-logged">
        Usuário: <span id="special-text"> <%= name %> </span>
      </p>
      <div id="exit-container">
        <a href="/">
          <span id="special-text">SAIR</span>
        </a>
      </div>
    </div>
    <div id="mostrarAlerta"></div>

    <div id="container1">
      <ul id="messages-list"></ul>
      <div class="spacing-scroll"></div>

      <form id="form" action="">
        <input
          maxlength="4096"
          placeholder="Digite aqui..."
          id="message-field"
          autocomplete="off"
        />
        <button id="send-button">Enviar</button>
      </form>
    </div>

    <div style="display: none" id="modal">
      <h2>Usuários online</h2>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
    />
    <script>
      let form = document.getElementById("form");
      let input = document.getElementById("message-field");
      let elementMessages = document.getElementById("messages-list");
      let eventMsg = ``;

      let comands = {
        exit: "/exit",
        list: "/list",
      };

      let socket = io({
        query: "name=<%= name %>",
      });

      form.addEventListener("submit", function (e) {
        e.preventDefault();

        if (input.value === comands.exit) {
          window.location.href = "/";
        }

        else if (input.value === comands.list) {
          $('#modal').modal('show');
        }

        else if (input.value) {
          socket.emit("chat message", {
            name: "<%= name %>",
            msg: input.value,
          });
          input.value = "";
        }
      });

      socket.on("newConnection", (name) => {
        eventMsg = `
        <div id="eventContainer">
          <span id="special-text">${name}</span>
          <p id="eventMessage">entrou na conversa</p>
        </div>
        `;
        elementMessages.innerHTML += eventMsg;
      });

      socket.on("userDisconnect", (data) => {
        console.log(`${data} se desconectou`);
        eventMsg = `
        <div id="eventContainer">
          <span id="special-text">${data}</span>
          <p id="eventMessage">saiu da conversa</p>
        </div>
        `;
        elementMessages.innerHTML += eventMsg;
      });

      socket.on("chat message", (data) => {
        let htmlMessage = "";

        if ("<%= name %>" == data.name) {
          htmlMessage = `
        <li id="messages-item" class="right-message">
            <div>
              <h5 id="user-name">Você: </h5>
              <div>
                <p id="message">${data.msg}</p>
              </div>
            </div>
          </li>
        `;
        } else {
          htmlMessage = `
        <li id="messages-item">
          <div>
            <h5 id="user-name">${data.name}:</h5>
            <div>
              <p id="message">${data.msg}</p>
            </div>
          </div>
          </li>
        `;
        }
        elementMessages.innerHTML += htmlMessage;
      });
    </script>
  </body>
</html>
